<html lang="en">
<head>
    <title>TODO App</title>
    <link rel="stylesheet" href="/css/pico.lime.css">
    <link rel="stylesheet" href="/css/site.css">
    <script src="/js/site.js"></script>
    <script src="/js/Sortable.js"></script>
    <script src="/js/htmx-2.0.3.js"></script>
</head>
<body>
<header class="container center">
    <h1><img style="height: 60px" src="/img/todo-white.svg"> TODOApp</h1>
    <form hx-get="/todos"
          hx-trigger="input delay:200ms, search"
          hx-target="main"
          hx-push-url="true"
          >
        <input style="float: right; width: 300px"
               type="search"
               name="q"
               value="{{ search }}"
               placeholder="Search todos...">
    </form>
</header>
<main class="container">
    {% block content %}{% endblock %}
</main>
</body>
</html>