<!DOCTYPE html>
<html lang="en" class="min-h-screen">
<head>
    <title>TODO App</title>
    <link rel="stylesheet" href="/css/site.css">
    <script src="/js/site.js"></script>
    <script src="/js/Sortable.js"></script>
    <script src="/js/htmx-2.0.3.js"></script>
</head>
<body class="bg-white text-gray-800 min-h-screen text-base flex flex-col text-sm">
<header class="bg-white py-2 border-b">
    <nav class="container-wide flex justify-between items-center">
        <h1 class="app-logo">
            <img class="h-6 w-6" src="/img/todo-white.svg" alt="TODO Logo">
            <span class="app-title">TODOApp</span>
        </h1>

        <form hx-get="/todos"
              hx-trigger="input delay:200ms, search"
              hx-target="main"
              hx-push-url="true"
              class="w-80">
            <label for="search" class="sr-only">Search todos</label>
            <input type="search"
                   id="search"
                   name="q"
                   value="{{ search }}"
                   placeholder="Search todos..."
                   class="search-input">
        </form>
    </nav>
</header>

<main id="main" class="flex-1 py-4 mx-auto px-4 transition-all duration-200 max-w-2xl [&.calendar-view]:max-w-6xl">
    {% block content %}{% endblock %}
</main>
</body>
</html>