<h1>Todo Calendar</h1>
<a hx-get="/todos"
   hx-target="main"
   hx-swap="innerHTML">Todos</a>

<!-- Navigation buttons -->
<div class="calendar-navigation">
    <a hx-get="/todos/calendar?year={{ year if month > 1 else year - 1 }}&month={{ month - 1 if month > 1 else 12 }}"
       hx-target="main"
       hx-swap="innerHTML">Previous Month</a>

    <span>{{ current_date.strftime("%B %Y") }}</span>

    <a hx-get="/todos/calendar?year={{ year if month < 12 else year + 1 }}&month={{ month + 1 if month < 12 else 1 }}"
       hx-target="main"
       hx-swap="innerHTML">Next Month</a>
</div>

<div id="calendar-container">
    {% set prev_month_start = days_in_prev_month - start_day + 1 %}

    <!-- Previous month days -->
    {% for i in range(prev_month_start, days_in_prev_month + 1) %}
        <div class="calendar-cell faded" id="previous-month-cell-{{ i }}">{{ i }}</div>
    {% endfor %}

    <!-- Current month days -->
    {% for i in range(1, days_in_current_month + 1) %}
        <div class="calendar-cell" id="calendar-cell-{{ i }}">{{ i }}</div>
    {% endfor %}

    <!-- Next month days -->
    {% set next_month_days = 35 - (days_in_current_month + start_day) %}
    {% for i in range(1, next_month_days + 1) %}
        <div class="calendar-cell faded" id="post-month-cell-{{ i }}">{{ i }}</div>
    {% endfor %}
</div>

<style>
    #calendar-container {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(5, 1fr);
        gap: 5px;
    }

    .calendar-cell {
        background-color: #f0f0f0;
        border: 1px solid #ccc;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .calendar-cell.faded {
        background-color: #676767;
        color: #aaa;
    }

    .calendar-navigation {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }
</style>
