<button class="hover:opacity-75 transition-opacity">
    {% if todo.complete %}
    <img src="/img/todo-white.svg" class="w-4 h-4">
    {% else %}
    <img src="/img/unchecked-white.svg" class="w-4 h-4">
    {% endif %}
</button>
<input type="hidden" name="view" value="{{ view }}">
<span class="todo-item {{ 'line-through text-gray-400' if todo.complete }}">
    <span class="text-blue-500 text-wrap: wrap;">{{ todo.priority_marker() }}</span>
    {{ todo.text }}

    {% if todo.recurring %}
    <span class="todo-recurring">({{ todo.recurring }})</span>
    {% endif %}
</span>