<form hx-post="/todos" hx-target="main" class="todo-form">
    <fieldset class="flex items-center space-x-4 p-4">
        <input class="input-text flex-1"
                {{ 'autofocus' if editing is undefined and not search }}
               required
               type="text"
               name="todo"
               id="new-todo-input"
               placeholder="Enter todos...?">

        <fieldset class="radio-group">
            <label class="radio-label">
                <input type="radio" name="priority" value="0" checked
                       class="radio-input"
                       data-hx-on:change="document.getElementById('new-todo-input').focus()">
                <span>Low</span>
            </label>
            <label class="radio-label">
                <input type="radio" name="priority" value="1"
                       class="radio-input"
                       data-hx-on:change="document.getElementById('new-todo-input').focus()">
                <span>!</span>
            </label>
            <label class="radio-label">
                <input type="radio" name="priority" value="2"
                       class="radio-input"
                       data-hx-on:change="document.getElementById('new-todo-input').focus()">
                <span>!!</span>
            </label>

            <input type="date"
                   name="due_date"
                   required
                   value={{ date_today }}
                           min="2024-11-11"
                   max="2025-11-11"
                   class="input-date"
                   data-hx-on:change="document.getElementById('new-todo-input').focus()"/>

            <select name="recurring"
                    class="input-select"
                    data-hx-on:change="document.getElementById('new-todo-input').focus()">
                <option value="">Never</option>
                <option value="daily">Daily</option>
                <option value="weekly">Weekly</option>
                <option value="monthly">Monthly</option>
                <option value="yearly">Yearly</option>
            </select>
        </fieldset>

        <input type="hidden" name="view" value="{{ view }}">
    </fieldset>
</form>

<nav class="flex space-x-4 py-2 text-sm">
    <a hx-get="/todos/reorder"
       hx-target="#todos-list"
       hx-swap="outerHTML"
       class="btn-default">
        Reorder
    </a>
    <a hx-get="/todos/calendar"
       hx-target="#main"
       hx-swap="innerHTML"
       hx-on:click="document.getElementById('main').classList.remove('max-w-2xl'); document.getElementById('main').classList.add('max-w-6xl')"
       class="btn-default">
        Calendar
    </a>

    <select name="sort_option" hx-target="main" hx-push-url="true" hx-get="/todos" class="btn-default">

        <option selected value="def">Sort By</option>
        <option value="date-a">Date (asc)</option>
        <option value="date-d">Date (desc)</option>
        <option value="prio-a">Priority (asc)</option>
        <option value="prio-d">Priority (desc)</option>
        <option value="alpha-a">Alphabetical (asc)</option>
        <option value="alpha-d">Alphabetical (desc)</option>
        <option value="def">Custom/Default</option>


        <input type="hidden" name="view" value="{{ view }}">
    </select>

</nav>

<ul id="todos-list" class="space-y-1">
    {% for todo in todos %}
        <li class="todo-item">
            {% if todo.id == editing %}
                <form hx-post="/todos/{{ todo.id }}" hx-target="main" hx-push-url="true" class="p-3">
                    <fieldset class="flex items-center space-x-4">
                        <input class="input-text flex-1"
                               autofocus required
                               type="text"
                               value="{{ todo.text }}"
                               name="todo"
                               id="edit-todo-input-{{ todo.id }}">

                        <fieldset class="radio-group text-sm">
                            <legend class="sr-only">Priority Level</legend>
                            {% for priority, label in [(0, 'Low'), (1, '!'), (2, '!!')] %}
                                <label class="radio-label">
                                    <input type="radio"
                                           name="priority"
                                           value="{{ priority }}"
                                            {{ 'checked' if todo.priority == priority }}
                                           class="radio-input"
                                           data-hx-on:change="document.getElementById('edit-todo-input-{{ todo.id }}').focus()">
                                    <span>{{ label }}</span>
                                </label>
                            {% endfor %}

                            <input type="date"
                                   name="due_date"
                                   required
                                   value="{{ todo.due_date }}"
                                   class="input-date text-sm"
                                   data-hx-on:change="document.getElementById('edit-todo-input-{{ todo.id }}').focus()"/>

                            <select name="recurring"
                                    class="input-select text-sm"
                                    data-hx-on:change="document.getElementById('edit-todo-input-{{ todo.id }}').focus()">
                                <option value="" {{ 'selected' if todo.recurring == None }}>Never</option>
                                <option value="daily" {{ 'selected' if todo.recurring == 'daily' }}>Daily</option>
                                <option value="weekly" {{ 'selected' if todo.recurring == 'weekly' }}>Weekly</option>
                                <option value="monthly" {{ 'selected' if todo.recurring == 'monthly' }}>Monthly</option>
                                <option value="yearly" {{ 'selected' if todo.recurring == 'yearly' }}>Yearly</option>
                            </select>
                        </fieldset>
                    </fieldset>
                </form>
            {% else %}
                <div class="flex items-center p-2">
                    <form hx-post="/todos/{{ todo.id }}/toggle"
                          hx-target="main"
                          class="flex-1 flex items-center space-x-3">
                        <button class="hover:opacity-75 transition-opacity">
                            {% if todo.complete %}
                                <img src="/img/todo-white.svg" class="w-4 h-4">
                            {% else %}
                                <img src="/img/unchecked-white.svg" class="w-4 h-4">
                            {% endif %}
                        </button>
                        <span hx-get="/todos/{{ todo.id }}/edit"
                              hx-trigger="dblclick"
                              hx-target="main"
                              hx-push-url="true"
                              class="flex items-center gap-2">
                        {% if todo.complete %}
                            <del class="flex items-center gap-2">
                        {% endif %}
                            <span class="flex-1">{{ todo.text }}</span>
                            <span class="text-red-500 text-sm w-8 text-center">{{ todo.priority_marker() }}</span>
                            <span class="text-blue-500 text-sm">{{ todo.return_formatted_date() }}</span>
                            {% if todo.recurring %}
                                <span class="text-sm">({{ todo.recurring }})</span>
                            {% endif %}
                        {% if todo.complete %}
                            </del>
                        {% endif %}
                        </span>
                        <input type="hidden" name="view" value="{{ view }}">
                    </form>

                    <form hx-post="/todos/{{ todo.id }}/delete" hx-target="main" hx-confirm="Are you sure you want to delete this?" class="flex items-center space-x-3">

                        <button class="hover:opacity-75 transition-opacity">
                            <img src="/img/delete-svgrepo-com.svg" class="w-4 h-4">
                        </button>
                    </form>
                </div>
            {% endif %}
        </li>
    {% endfor %}
</ul>

<nav hx-target="main" hx-push-url="true" class="flex space-x-4 py-2 text-sm">
    <a hx-get="/todos" class="{{ 'btn-active' if view == None else 'btn-default' }}">
        All
    </a>
    <a hx-get="/todos?view=active" class="{{ 'btn-active' if view == 'active' else 'btn-default' }}">
        Active
    </a>
    <a hx-get="/todos?view=complete" class="{{ 'btn-active' if view == 'complete' else 'btn-default' }}">
        Complete
    </a>
</nav>