<!DOCTYPE>
<html lang="en">
<head>
    <title>Example Responsive Flexbox Layout</title>
</head>
<style>
    .content {
        min-width: 300px;
        border: 1px solid black;
        text-align: center;
        min-height: 300px;
    }
</style>
<body>
<main>
    <h1>A Simple Text Page Layout</h1>

    <div style="display: flex;
                flex-direction: row;">
        <div class="content">Col 1</div>
        <div class="content">Col 2</div>
        <div class="content">Col 3</div>
    </div>
</main>


</body>