<!DOCTYPE>
<html lang="en">
<head>
    <title>Example Responsive Flexbox Layout</title>
</head>
<body style="margin: 0px">
<main style="display: grid;
             grid-template-columns: 200px auto;
             grid-template-rows: 30px auto;
             height: 100vh;">
    <div style="grid-area: 1 / 1 / 2 / 3; background-color: red">Site Header</div>
    <div style="grid-area: 2 / 1 / 3 / 2; background-color: green">
        Side Nav
    </div>
    <div style="grid-area: 2 / 2 / 3 / 3; background-color: blue">
        Main Content
    </div>
</main>


</body>