<html lang="en">
<head>
    <title>Contact App</title>
    <link rel="stylesheet" href="/css/pico.lime.css">
    <link rel="stylesheet" href="/css/site.css">
    <script src="/js/site.js"></script>
</head>
<body>
<header class="container center">
    {% block title %}
      <h1>Contacts</h1>
    {% endblock %}
</header>
<main class="container">
    {% if message %}
      <div class="alert">
        {{ message }}
      </div>
  {% endif %}
    {% block content %}
    {% endblock %}
</main>
</body>
</html>